<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Request statistic</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script>
    {{highcharts_config}}
    {{highcharts_loader}}
  </script>
  <style>
  </style>
 </head>
 <body>
  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
 </body>
</html>
